body {
    background-color: #ffe6f2;
    color:#007a99;
}
img {
    width:300px;
    height:300px;
}
.link{
    color:white;
}
#topheader {
    margin-top: 50px;
    padding: 20px;
    font-family: cursive;
    font-size: 40px;
    text-align: center;
    color:#666666;
    background-image:url("https://s3.amazonaws.com/Syntaxxx/background-gold-bokeh.jpg");
}

/*button style*/
#addSong {
    margin-top: 50px;
}

/*playlist content*/
#playlist {
    text-align: center;
    margin-top: 100px;
}
.nameheader {
    font-family: serif;
}
#indivual {
    width:400px;
    margin:auto;
    border-width: 20px;
    border-color: grey;
}

/*Modal Style*/
.modal {
    display: none;
}
.modal-content {
    margin: 15%;
    padding: 20px;
    background-color: white;
}



